.product-details {

  width: 100%;
  display: grid;


  .product-details-hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    > img {
      max-width: 100%;
      height: auto;
    }

    .product-details-comparison {
      padding-top: 2rem;
    }

    @media only screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }

  }

}


.add-to-shopping-list-btn-sm:hover {
  background-color: #1565c0 !important;
  transition: 0.3s;
}
