@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.shopping-lists-overview {
  margin-top: 2rem;
}

.shopping-list {
  width: 100%;
}

.shopping-list-dialog-products {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0;
  overflow-y: auto;
  max-height: 100%;
  margin-top: 0;
  box-sizing: border-box;
  height: 100%;
}
